<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignPattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>750F6E0F1E49D681004DE4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750F6E281E49D681004DE4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750F6E331E49D681004DE4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
